/********************
YOUR STYLES
*******************/
h1{
  display:flex;
  justify-content: space-between;
  font-family:"Avenir";
}
.sun {
background: yellow; 
background: -o-linear-gradient(left, #F2994A, #F2C94C);
background: linear-gradient(left,#F2C94C,#F2994A); 
}



.temp {
  color: red;
}

.city {
  color: green;
}

.state {
  color: blue;
}

.image img {
  outline: 5px solid red;
 }










