/********************
YOUR STYLES
*******************/
h1{
  display:flex;
  justify-content: space-between;
  font-family:"Avenir";
}
.sun {
background: yellow; 
background: orange;
background: red; 
}
.clouds{
background: lightgray;
background: linear-gradient(right, lightgray, white);
background: linear-gradient(left, lightgray, white);
}

.rainy{
background:lightgray;
}

.storm{
background:linear-gradient(right,#29120b, #7e1d17,#ffcb2b)
}





.temp {
  color: red;
}

.city {
  color: green;
}

.state {
  color: blue;
}

.image img {
  outline: 5px solid red;
 }










